.login {
  margin: auto;
  padding: 16px;
  width: 350px;
}

.login-heading {
    margin-bottom: 16;
}

.login-textfield {
    width: 100%;
    margin-bottom: 12px !important;
}

.login-button {
    width: 100%;
    margin-top: 15px !important;
}
